body {
    background: rgb(206, 207, 205);
    color: #333;
    font: 14px 'Arial',sans-serif;
    text-align: center;
}

div.contenedor {
    width: 100%;
    
    margin: 0 auto;
}

div.juego canvas {
    box-shadow: 0 0 30px rgb(43, 34, 34);
    background-color: rgb(98, 173, 98);
}

#show {
    background-color: rgb(0, 174, 255);
    align-items: center;
    
}

#hide {
    background-color: rgb(255, 51, 0);
    align-items: center;
   
}

